/**************************/
/* BELOW 992px (Tablets) */
/**************************/

@media only screen and (min-width: 768px) and (max-width: 991px) {
  html{
    /* 12px/16px */
    font-size: 75%;
  }
  .nav-bar {
    max-width: 992px;
  }

  .nav-bar-profile{
    display: none;
  }

  .project-detail{
    height: 130px;
  }

  .grid--3--cols{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
  }

  .job-content{
    break-after: auto;
  }

  .job-details li:before {
    top: 1.6em;
    left: -20px;
  }

  .blue{
    width: 32px;
  }
  
  .grey{
    width: 32px;
  }

  .certificate-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3.6rem;
    position: relative;
  }

  .certificate-item{
    grid-template-columns: 1fr;
  }


  .certificate-content::before{
    top: 270px;
  }
  
  .even:before{
    margin-left: -16px;
    bottom: 57%;
  }

  .project-img{
    width: 80%;
  }

  .project-content{
    column-gap: 5px;
  }

  .project-detail{
    width: 80%;
    height: auto;
  }

  .project-bar {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    row-gap: 8px;
  }

  .project-position{
    grid-column: 2;
    grid-row: 2;
  }

  .col--1{
    width: 100%;
  }

  /* DIGITAL CV */
  .digital-cv{
    display: grid;
    grid-template-columns: 1fr;
  }

  .project-goals{
    display: block;
    line-height: 1.2;
  }

  .goal-icon{
    text-align: center;
  }

  .project-team{
    display: block;
    line-height: 1.2;
  }

  .team-icon{
    text-align: center;
  }

  .project-timeline{
    display: block;
    line-height: 1.2;
  }

  .scopes{
    grid-row: 2;
  }

  .scope{
    display: block;
    line-height: 1.2;
  }

  .primary{
    grid-row: 4;
  }

  .project-primary{
    display: block;
    line-height: 1.2;
  }

  .primary-icon{
    text-align: center;
  }
}